{
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 100,
    "overrides": [
        {
            "files": ["*.html", "*.json", "*.md", "*.yml"],
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        }
    ]
}
